div.static {
    position: static;
    border: 3px solid lavenderblush;
}

div.relative {
    position: relative;
    left: 50%;
    border: 3px solid lavenderblush;
}

div.fixed {
    position: fixed;
    top: 0;
    right: 0;
    border: 3px solid lavenderblush;
}

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid lavenderblush;
}

div.sticky {
  position: sticky;
  top: 0;
  background-color: rgb(254, 255, 240);
  border: 2px solid lavenderblush;
}