div.static {
    position: static;
    border: 3px solid lavenderblush;
}

div.relative {
    position: relative;
    left: 50%;
    border: 3px solid lavenderblush;
}

div.fixed {
    position: fixed;
    top: 0;
    right: 0;
    border: 3px solid lavenderblush;
}